.tattoo-piercing-section {
    margin-top: 75px;
}

.header-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* .services-heading {
    margin-bottom: 5px;
} */

/* .services-subheading {
    text-align: center;
    margin-top: 0px;
    padding: 0px 10px;
} */

.services-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-list ul {
    background-color: white;
    width: 300px;
    /* border-bottom: 1px solid white !important; */
}

.header {
    font-size: 1.7rem;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.services-description {
    margin-bottom: 0px;
}

.services-list {
    border: 2px solid #f0bd50;
    margin: 20px 10px;
    font-family: 'Quattrocento', serif;
}

.services-list li {
    font-size: 1.4rem;
    font-weight: 500;
    /* border-top: 1px solid white; */
    padding: 15px 10px;
    text-align: center;
}

.services-list li:not(:first-child) {
    /* border-top: 1px solid white; */
    /* width: 100%; */
    /* max-width: 500px; */
}