* {
  margin: 0;
  /* padding: 0; */
  /* box-sizing: border-box; */
}

body {
  margin: 0;
  font-family: 'Cinzel', serif;
  /* font-family: 'AR One Sans', sans-serif; */
  /* font-family: 'Lobster', cursive; */
  /* font-family: 'Quattrocento', serif; */
  /* font-family: 'Young Serif', serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: #cea95b; */
  /* #d2232a */

  background-color: black;
  color: white;

}

body,
html {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
  width: 135px;
  padding: 5px 10px;
  font-size: 1.2rem;
  transition: 0.7s all;
  font-family: 'Cinzel', serif;
  font-weight: 500;

  border: 2px solid white;
  background-color: #e8ca89;
}

button:hover {
  background-color: #f0bd50;
  /* color: white; */
  border-color: white;
  /* color: #222222; */
  /* font-weight: bold; */
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  /* text-decoration: underline; */
}

.ar {
  font-family: 'AR One Sans', sans-serif;
}

.cinzel {
  font-family: 'Cinzel', serif;
}

.lobster {
  font-family: 'Lobster', cursive;
}

.quattrocento {
  font-family: 'Quattrocento', serif;
}

.young-serif {
  font-family: 'Young Serif', serif;
}